.menuInfo{
    background-color: var(--background-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menuTitle, .menuDes, .menuPrice {
    padding: 10px;
}

.menuTitle{
    font-weight: bold !important;
}

.menuPrice{
    text-align: right;
}

.slick-slide {
    padding: 0 5px; /* 슬라이드 항목의 좌우 여백 추가 */
  }