.horizontal-scroll-menu{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
    overflow: hidden;
}

.menuInfo {
    width: 100%;
    position: relative;
}


.menuTitle {
    white-space: normal;
    font-weight: bold !important;
    margin-top: 5px!important;
}

.menuDescription{
    white-space: normal;
    width: 200px;
}

.menuPrice {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* 메뉴 관리 */
.menuListManagement{
    display: grid;               /* 그리드 레이아웃 사용 */
    grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
    gap: 50px;
}

.menuListManagement li {
    text-align: center;          /* 텍스트 중앙 정렬 */
    margin: 0 auto;
}

.menuManagementMain{
    display: grid;
    place-items: center;      /* 가로 및 세로 중앙 정렬 */
}

.addMenuBtn{
    text-align: center;
}

.menuImg{
    width: 100%;
    height: 50vh; /* 이미지 높이 160px */
    object-fit: cover; /* 이미지 비율 유지하며 잘리거나 맞춰서 표시 */
    margin: 0 auto;
}