/* 색상 선언 */
:root {
  --primary-color: #ff4545; /* 기본 색상 */
  --secondary-color: #ff9c73; /* 보조 색상 */
  --secondaryHover-color: #ff451a; /* 보조 색상 하버 */
  --tertiary-color: #fbd288; /* 보조 색상 */
  --quaternary-color: #fcf596; /* 보조 색상 */
  --background-color: #f7f7f7; /* 배경 색상 */
  --text-color-black: #222222; /* 검은 텍스트 색상 */
  --text-color-white: #f7f7f7; /* 하얀 텍스트 색상 */
  --text-color-gray: #808080; /* 회색 텍스트 색상 */
}

/* 모달 창 */
.slide-up {
  position: fixed;
  bottom: -100%;
  background: var(--background-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  padding: 20px;
  width: auto;
  justify-items: center;
  transition: bottom 0.5s ease-in-out;
}

.slide-up.active {
  bottom: 0;
}

/* 모달 시 배경 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal-background.active {
  opacity: 1;
}

/* 달력 스타일 */
.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  width: auto;
  max-width: 600px;
  color: var(--text-color-black);
  background-color: var(--background-color) !important;
  border: none !important;
  display: block;
  margin: 0 auto;
  position: relative;
  line-height: initial;
  z-index: 5;
  transform: scale(1.15);
  padding-top: 15px;
  padding-bottom: 15px;
}

.datepicker-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

.react-datepicker__header {
  text-align: center;
  background-color: var(--background-color) !important;
  padding: 8px 0;
  position: relative;
  border: none !important;
}

/* 달 넘기기 버튼 */
.datepicker-nav-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-left: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
  color: var(--text-color-black);
}

.datepicker-nav-button:disabled {
  color: var(--text-color-black);
}

/* 일 */
.react-datepicker__day-names {
  font-weight: bold;
}

.react-datepicker__day {
  font-size: 11px;
}

.react-datepicker__day--selected {
  border-radius: 50% !important;
  background-color: var(--secondaryHover-color) !important;
  color: var(--text-color-white);
  transition: 0.3s;
}

.react-datepicker__day:not([aria-disabled="true"]):hover {
  border-radius: 5px;
  background-color: var(--secondaryHover-color) !important;
  color: var(--text-color-white);
  transition: 0.3s;
}

/* 오늘 버튼 */
.today-button {
  color: var(--secondary-color);
  margin-left: -40px;
  font-size: 11px;
  border: none;
  background-color: var(--background-color) !important;
  text-decoration: underline;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0) !important;
}

.today-button:hover {
  color: var(--secondaryHover-color);
}

/* 선택 불가 날짜 */
.datepicker-day--disabled {
  color: #ccc !important;
  pointer-events: none;
}

/* 인원 선택 가로 스크롤 */
.people-selection-container,
.time-selection-container {
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
}

.swiper-wrapper {
  display: flex;
  gap: 6px;
  cursor: grab;
  width: 1200px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 30px;
  transition: transform 0.3s, background-color 0.3s;
  flex-shrink: 0;
  margin-right: 6px;
  width: auto;
}

/* 시간 선택 가로 스크롤 */
.time-selection-container {
  padding-top: 15px;
}

.time-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.time-label span {
  font-size: 12px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.time-label:hover span {
  background-color: var(--secondaryHover-color) !important;
  color: var(--text-color-white);
  transform: scale(1.1);
}

.time-label input[type="radio"] {
  display: none;
}

.time-label input[type="radio"]:checked + span {
  background-color: var(--secondaryHover-color);
  color: var(--text-color-white);
  transform: scale(1.1);
}

/* 인원 수 선택 스타일 (유지) */
.people-selection-container {
  padding-top: 15px;
}

.people-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.people-label span {
  font-size: 12px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.people-label:hover span {
  background-color: var(--secondaryHover-color) !important;
  color: var(--text-color-white);
  transform: scale(1.1);
}

.people-label input[type="radio"] {
  display: none;
}

.people-label input[type="radio"]:checked + span {
  background-color: var(--secondaryHover-color);
  color: var(--text-color-white);
  transform: scale(1.1);
}

/* 예약하기 버튼 스타일 */
.reserve-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.reserve-button {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.reserve-button-info:hover,
.reserve-button:hover {
  background-color: var(--secondaryHover-color);
}
