.my-reserve-container {
  background-color: var(--background-color-gray);
  min-height: 800px;
}

.my-reserve-header {
  margin-left: 40px;
}

/* 예약 상태 선택 */
.filter-status {
  width: 150px;
}

/* reserve-card-wrapper */
.reserve-card-wrapper {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 40px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

/* reserve-card */
.reserve-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0; /* 카드의 여백을 제거하여 요소들 간의 간격을 최소화 */
  border-radius: 15px;
  min-height: 254px;
}

/* reserve-card-title */
.reserve-card-title.card-title {
  font-weight: bold;
}

.empty-card {
  visibility: hidden; /* 빈 카드를 보이지 않도록 설정 */
}

/* 버튼 */

.btn.btn-secondary {
  background-color: var(--secondary-color);
  border: none;
  height: 38px;
}

.btn.btn-secondary:hover {
  background-color: #bf7556;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination button {
  border: none;
  background-color: var(--background-color-gray);
  color: var(--text-color-black);
  box-shadow: none;
  padding: 10px;
  margin: 0 4px;
}

.paginated-list {
  list-style: none;
}
