.reserve-container {
  background-color: var(--background-color-gray);
  min-height: 800px;
}

/* reserve-header */
.reserve-header {
  margin-left: 40px;
}

/* 예약 상태 선택 */
.form-label {
  margin: 0 !important;
}

.filter-status {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.filter-status select {
  width: 140px;
}

/* reserve-card-wrapper */
.reserve-card-wrapper {
  display: grid;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* reserve-card */
.reserve-card {
  margin: 20px 20px 0 20px;
}
.reserve-card.reserve-card-item,
.reserve-card-body {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0; /* 카드의 여백을 제거하여 요소들 간의 간격을 최소화 */
  border-radius: 15px;
  background-color: var(--background-color);
  min-width: 288px;
  min-height: 204px;
}

/* reserve-card-title */
.reserve-card-title.card-title {
  font-weight: bold;
}

/* 버튼 */
.btn-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.btn-container p {
  margin: 0;
}

#store-info {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  width: 148px;
  border: none;
  height: 38px;
  font-size: 0.9rem;
}

#store-info:hover {
  background-color: var(--secondaryHover2-color);
  color: var(--text-color-white);
}
#commit {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  border: none;
  height: 38px;
}

#commit :hover {
  background-color: var(--secondaryHover2-color);
  color: var(--text-color-white);
}
