/* 색상 선언 */
:root {
  --primary-color: #ff4545; /* 기본 색상 */
  --secondary-color: #ff9c73; /* 보조 색상 */
  --secondaryHover-color: #ff451a; /* 보조 색상 하버 */
  --tertiary-color: #fbd288; /* 보조 색상 */
  --quaternary-color: #fcf596; /* 보조 색상 */
  --background-color: #f7f7f7; /* 배경 색상 */
  --text-color-black: #222222; /* 검은 텍스트 색상 */
  --text-color-white: #f7f7f7; /* 하얀 텍스트 색상 */
}

/* 모달 창 */
.slide-up {
  position: fixed;
  bottom: -100%;
  left: 15%;
  right: 15%;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
  padding: 20px;
  width: 70%;
  justify-items: center;
  transition: bottom 0.5s ease-in-out;
}

.slide-up.active {
  bottom: 0;
}

/* 모달 시 배경 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal-background.active {
  opacity: 1;
}

/* 예약하기 버튼 */
.reserve-button-list {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.reserve-button-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 15px 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.reserve-button-info:hover {
  background-color: var(--secondaryHover-color);
}

.reserve-button-list:hover {
  background-color: var(--secondaryHover-color);
}

/* 달력 스타일 */
.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  width: 90%;
  max-width: 600px;
  color: #000;
  border: none;
  display: block;
  margin: 0 auto;
  position: relative;
  line-height: initial;
  z-index: 5;
}

.datepicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.datepicker-title {
  font-size: 16px;
  font-weight: bold;
}

.datepicker-nav-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.datepicker-nav-button:disabled {
  color: #ccc;
}

.react-datepicker__day--selected {
  border-radius: 1rem;
  background-color: var(--secondaryHover-color);
  color: #fff;
}

.react-datepicker__day:not([aria-disabled="true"]):hover {
  border-radius: 5px;
  background-color: var(--secondaryHover-color);
  color: white;
  transition: 0.3s;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}

.react-datepicker__header {
  text-align: center;
  background-color: white;
  padding: 8px 0;
  position: relative;
}

/* 선택 불가 날짜 */
.datepicker-day--disabled {
  color: #ccc !important;
  pointer-events: none; /* 클릭할 수 없도록 설정 */
}

/* 가로 스크롤 */
.people-selection-container {
  margin-top: 20px;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.swiper-container {
  overflow: visible;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px; /* 달력과 간격 추가 */
  z-index: 1;
}

.swiper-wrapper {
  display: flex;
  gap: 10px;
  cursor: grab;
  width: 30%;
}

/* Swiper 슬라이드 스타일 */
.swiper-container {
  overflow: hidden; /* Swiper가 부모 컨테이너를 벗어나지 않도록 설정 */
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 30px;
  transition: transform 0.3s, background-color 0.3s;
  flex-shrink: 0; /* 슬라이드가 축소되지 않도록 설정 */
  margin-right: 6px; /* 슬라이드 간 간격 추가 */
  width: auto; /* 슬라이드의 크기를 자동으로 설정 */
}

.people-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.people-label span {
  font-size: 12px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.people-label input[type="radio"] {
  display: none;
}

/* 선택된 버튼 스타일 */
.people-label input[type="radio"]:checked + span {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.1);
}

.people-label:hover span {
  background-color: #e0e0e0;
}

/* 시간 선택 가로 스크롤 */
.time-selection-container {
  margin-top: 20px;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.time-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.time-label span {
  font-size: 12px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.time-label input[type="radio"] {
  display: none;
}

/* 선택된 버튼 스타일 */
.time-label input[type="radio"]:checked + span {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.1);
}

.time-label:hover span {
  background-color: #e0e0e0;
}

/* 예약하기 버튼 스타일 */
.reserve-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reserve-button {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: var(--secondaryHover-color);
}
