.store-reserve-container {
  background-color: var(--background-color-gray);
  min-height: 800px;
}

.store-reserve-header {
  margin-left: 40px;
}

/* 예약 상태 선택 */
.filter-status {
  width: 150px;
}

/* reserve-card-wrapper */
.reserve-card-wrapper {
  display: grid;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 40px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

/* reserve-card */
.reserve-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 15px;
  min-height: 254px;
}

/* reserve-card-title */
.reserve-card-title.card-title {
  font-weight: bold;
}

/* 버튼 */

.btn.btn-commit {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  border: none;
  height: 38px;
}

.btn.btn-commit :hover {
  background-color: var(--secondaryHover2-color);
  color: var(--text-color-white);
}
