.find-pw-result-container {
  height: 775px;
}

.copy-icon {
}
.main-container {
  position: relative;
}
.find-pw-text {
  height: 50px;
  width: 500px !important;
  border: 1px solid var(--background-color-black) !important;
}
.flex-grow-1 {
  margin: 100px;
}
.find-pw-box {
  width: 800px !important;
}
