.find-id-cover {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-height: 100vh; /* 화면 전체 높이를 사용 */
}

.find-id-main {
  width: 100%;
  max-width: 500px; /* 원하는 최대 너비를 설정 */
  padding: 30px; /* 내부 여백을 추가 */
  background-color: #fff; /* 배경색을 설정 (선택사항) */
  border-radius: 10px; /* 모서리를 둥글게 (선택사항) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* 그림자 효과 (선택사항) */
  transform: translateY(-20px); /* 위로 살짝 띄운 효과 */
}
.find-id-input {
  border-color: var(--secondary-color) !important;
}
.find-id-btn {
  background-color: var(--secondary-color) !important;
  margin-top: 20px;
  width: 100%;

  display: flex;
  justify-content: center;
}
.find-id-btn:hover {
  background-color: var(--secondaryHover2-color) !important;
}
.find-id-message {
  margin-top: 10px;
  color: red;
}
