.find-pw-result-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 770px;
}
.find-pw-result-cover {
  width: 100%;
  max-width: 500px; /* 원하는 최대 너비를 설정 */
  padding: 30px; /* 내부 여백을 추가 */
  background-color: #fff; /* 배경색을 설정 (선택사항) */
  border-radius: 10px; /* 모서리를 둥글게 (선택사항) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 (선택사항) */
  transform: translateY(-20px); /* 위로 살짝 띄운 효과 */
}
.find-pw-text {
  border: 2px solid var(--secondary-color);
}
.find-pw-text:focus {
  border: 3px solid var(--secondaryHover-color);
}
.find-pw-icon {
  margin-left: 20px;
  display: flex;
}
.find-pw-text {
  height: 50px;
  width: 350px;
}
.find-pw-result-text-icon {
  display: flex;
  align-items: center;
}
