.login-maincover {
  min-height: 100vh;
  position: relative; /* 자식 요소의 absolute 위치 기준 설정 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  background-color: var(--background-color-gray);
}
.login-container {
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(148, 50, 12, 0.8); /* 그림자 효과 (선택사항) */
  padding: 80px;
  width: 100%;
  max-width: 600px;
}
.button-container1 {
  color: gray;
  margin-top: 50px; /* 아래로 50px 이동 */
  display: flex; /* flexbox로 설정 */
  justify-content: center; /* 가운데 정렬 */
  gap: 20px; /* 아이디 찾기와 비밀번호 찾기 사이에 20px 간격 */
}

.login-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--secondary-color) !important;
}
.login-button:hover {
  background-color: var(--secondaryHover-color) !important;
}
@media (min-width: 768px) {
  .login-maincover {
    flex-direction: row; /* 화면이 커지면 가로로 배치 */
  }
}
