/* 기본 스타일: 모바일 화면을 우선 고려 */
.mypage-height-cover {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 모바일 화면에서 양옆 여백을 추가하여 공간을 확보 */
}

.mypage-container {
  display: flex;
  flex-direction: column; /* 기본적으로 세로 정렬 */
  align-items: center; /* 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* 그림자 효과 */
  width: 100%;
  max-width: 500px; /* 최대 너비 설정 */
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.mypage-profile-img {
  border-radius: 100px;
  border: 2px solid var(--secondary-color);
  width: 160px;
  height: 160px;
  object-fit: cover; /* 이미지가 비율에 맞게 잘리도록 설정 */
}

.mypage-file-upload-input {
  display: none;
}

.mypage-file-upload-input-btn {
  background-color: var(--secondary-color) !important;
}

.mypage-main-cover {
  display: flex;
  flex-direction: column; /* 기본적으로 세로 정렬 */
  align-items: center; /* 가운데 정렬 */
  gap: 20px; /* 각 섹션 간 간격 */
}

.mypage-chooseUser1,
.mypage-chooseUser2,
.mypage-chooseUser3 {
  display: flex;
  justify-content: center; /* 가로로 배치 */
  align-items: center;
  gap: 10px;
  margin: 0px;
}

.mypage-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.mypage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100%; /* 버튼을 화면 너비에 맞게 늘리기 */
  max-width: 400px; /* 버튼의 최대 너비 설정 */
  text-align: center;
  border-radius: 5px;
  gap: 20px; /* 아이콘과 텍스트 사이 간격 */
}

.mypage-button:hover {
  background-color: var(--tertiary-color);
}

.mypage-text {
  font-size: 20px;
  font-weight: 600;
}

.mypage-name-text {
  font-size: 24px; /* 이름 텍스트 크기 조정 */
  font-weight: 800;
}

.mypage-camera-btn,
.upload-btn,
.mypage-delete-btn {
  background-color: transparent !important;
  color: var(--primaryHover-color) !important;
  border: none !important;
  padding: 0;
}

.mypage-text-container {
  padding-top: 0 !important;
}

/* 추가적인 미디어 쿼리: 화면 크기가 1024px 이상일 때 */
@media (min-width: 1024px) {
  .mypage-button {
    padding: 12px 30px;
    font-size: 18px;
  }

  .mypage-profile-img {
    width: 200px;
    height: 200px;
  }

  .mypage-name-text {
    font-size: 28px;
  }

  .mypage-text {
    font-size: 22px;
  }
}
