.chooseUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  gap: 250px;
}
.button1 {
  background-color: var(--secondary-color);
  height: 30px;
  width: 300px;
  font-size: 20px;
}
.button1:hover {
  background-color: var(--secondaryHover-color);
}
.button2 {
  background-color: var(--secondary-color);
  height: 30px;
  width: 300px;
  font-size: 20px;
}
.button2:hover {
  background-color: var(--secondaryHover-color);
}
.text1 {
  text-align: center;
  margin-top: 30px;
}
.text2 {
  margin-top: 30px;
}
.oo {
  background-color: var(--background-color);
}
.imo1 {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.imo2 {
  display: none;
  width: 40px;
  height: 40px;
}
.edit-cover {
  height: 785px;
}
